<?xml version="1.0" ?>
<launch>

<param name = "Message" value = "Manchester Robotics Global!" />

	<group ns = "Group1">
		<param name = "Message" value = "Manchester Robotics Local!" />
	
		<node name="talker" pkg="week2_activity" type="talker.py" output="screen" >
		       <param name = "Message" value = "Manchester Robotics Private!" />
		</node>
		<node name="listener" pkg="week2_activity" type="listener.py" output="screen" />
	</group>
	
	<group ns = "Group2">
		<param name = "Message" value = "Manchester Robotics Local!" />
		<node name="talker" pkg="week2_activity" type="talker.py" output="screen" >
			<param name = "Message" value = "Manchester Robotics Private!" />
		</node>
		<node name="listener" pkg="week2_activity" type="listener.py" output="screen" />
	</group>

</launch>