<launch>
    <rosparam file = "$(find week2_pid_control)/config/control_params.yaml" command = "load"/>
    <rosparam file = "$(find week2_pid_control)/config/system_params.yaml" command = "load"/>
    <param name="set_point" value="5" />
    
    <node name="setpoint_generator"     pkg="week2_pid_control" type="setpoint_generator" output="screen"/>
    <node name="controller" pkg="week2_pid_control" type="controller"  output="screen"/>
    <node name="system"     pkg="week2_pid_control" type="system.py"            output="screen"/>
    <node name="system_response_plot" pkg="rqt_plot" type="rqt_plot" args="/set_point /motor_output/output /motor_input/input"/>
</launch>