<?xml version="1.0" ?>
<launch>

    <node name="sender" pkg="week2_pid_control" type="sender"  output="screen"/>
    <node name="input" pkg="week2_pid_control" type="input"  output="screen"/>
    <node name="motor" pkg="rosserial_python" type="serial_node.py">
    <param name="port"	type="string"	value="/dev/ttyUSB0"/>   
    </node>
    <node name="pwm_plot" pkg="rqt_plot" type="rqt_plot" args="/pwm"/>
    <node name="pwm_graph" pkg="rqt_graph" type="rqt_graph" args=""/>
    
</launch>
