<?xml version="1.0" ?>
<launch>
    <node name="motor" pkg="rosserial_python" type="serial_node.py" >
        <param name="port"	type="string"	value="/dev/ttyUSB0"/>
        <param name="baud" type="int" value = "57600"/>   
    </node>

    <node name="open_loop_control" pkg="week4_open_loop" type="open_loop_control"  output="screen"/>
    <param name="ref" type="double" value="6.6"/>
    <node name="pwm_plot" pkg="rqt_plot" type="rqt_plot" args="/motor_input /motor_output"/>

</launch>
